html {
  height: 100vh;
}

body {
  background-color: #92DBE1;
  font-family: sans-serif;
  padding-top: 4.8em;
  height: 100%;
}

h1 {
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2em;
  width: 100%%;
  background-color: #4D4F5B;
  color: #F4F4F2;
  font-size: 1.6em;
  padding-top: 0.8em;
  text-align: center;
  box-shadow: 0 -1px 8px 7px HSLA(198, 13%, 20%, 0.9);
}

.newappt {
  position: relative;
  margin-left: .7em;
  background-color: #4D4F5B;
  color: #F4F4F2;
  font-size: 1.2em;
  border-style: none;
  border: 1;
}

.newapp-btn {
  text-decoration: none;
  color: white;
  font-size: 1.25em;
  float: right;
  padding: 1em;
  transform: translate(0,-65%);
}

.apptsearch {
  display: block;
  margin: 1em auto;
  width: %;
  font-size: 1.5em;
}

li {
  box-sizing: border-box;
  padding: 1.5em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #4D4F5B;
  width: 80%;
  margin: 0 auto 2em;
  border-radius: 10px;
  color: #DCDDCD;
}

.time {
  width: 25%;
}

.app-descrip {
  width: 75%;
  text-align: right;
}

.newappt-container {


}

.newappt-wrapper{
  display: flex;
  flex-direction: column;
}

.newappt-header {
  margin-bottom: .7em;
}


.appt-title, .appt-date,
.appt-time, .appt-street,
.appt-city,
.input-description
 {
  width: 80%;
  margin: .3em auto;
  padding: 1em;
  border-radius: 5px;
  font-size: .9em;
}

.input-description {
  text-align: center;
  background-color: #4D4F5B;
  color: #DCDDCD;
}


.save {
  margin: 1em auto;
  padding: .8em 2em;
  text-decoration: none;
  color: white;
  background-color: HSLA(231, 8%, 33%, 1);
  border-radius: 5px;
}


.back {
  font-size: 1em;
  float: left;
  text-decoration: none;
  transform: translate(0,-65%);
  padding-left: 1em;
  color: #F4F4F2;
}

.edit-app {
  float: right;
  font-size: 1em;
  text-decoration: none;
  transform: translate(0,-65%);
  padding-right: 1em;
  color: #F4F4F2;
}



.app-content {
  width: 90%;
  margin: 2em auto;
  text-align: center;
}

.appt-info {
  width: 25%;
  background-color: HSLA(231, 8%, 33%, 1);
  padding: 2%;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#main {
  height: 100%;
}

.app-details {
  position: relative;
  height: 100%;
}

.title-header {
  font-size: 1.2em;
  padding-bottom: 0.7em;
}

.date-time {
  padding-bottom: 0.5em;
}

.location {
  padding-bottom: 0.5em;
}

.delete-field {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
