/**************************************
Global Elements
**************************************/

html {
  height: 100vh;
}

body {
  background-color: HSLA(225, 51%, 66%, 1);
  font-family: sans-serif;
  height: 100%;
}

h1 {
  text-align: center;
}

li {
  box-sizing: border-box;
  padding: 0.7em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto 2em;
  border-radius: 10px;
  color: #f4f4f4;
  border: 1px solid HSLA(256, 12%, 82%, 1);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #F4F4F2;
  font-size: 1.6em;
  padding-top: 0.8em;
  text-align: center;
  box-shadow: 0 -1px 9px 1px HSLA(256, 12%, 22%, 1);
  background-color: HSLA(225, 51%, 66%, 1);
  padding-bottom: 0.8em;
  max-height: 1em;
}

#main {
  background-color: HSLA(225, 51%, 66%, 1);
  height: 100%;

}

/*******************************************
Appointments List
*******************************************/

.newappt {
  position: relative;
  margin-left: .7em;
  background-color: ;
/*  color: #F4F4F2; */
  font-size: 1.2em;
  border-style: none;
  border: 1;
  overflow: auto;
}

.newapp-btn {
  text-decoration: none;
  color: HSLA(256, 12%, 82%, 1);
  font-size: 1.25em;
  float: right;
  padding: 1em;
  transform: translate(0,-65%);
}

.apptsearch {
  display: block;
  margin: 1em auto;
  width: %;
  font-size: 1.5em;
}

.time {
  text-align: right;
  flex: 1;
}

.app-descrip {
  flex: 2;
  transform: translateY(25%);
}

.appointment-list {
  list-style: none;
  padding-top: 2em;
  padding-bottom: 2em;
}

.see-details {
  display: block;
  text-decoration: none;
}

.list-container {
  margin-top: 4em;
}

.date-time-main {
  flex-direction: column;
  display: flex;
}

/**********************************
Add New Appointment Page
**********************************/

.newappt-container {
  margin-top: 4em;
  padding-top: 1.5em;
}

.newappt-wrapper{
  display: flex;
  flex-direction: column;
}

.appointments-header {
  color: white;
}


.appt-title, .appt-date,
.appt-time, .appt-street,
.appt-city,
.input-description
 {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
  font-size: .9em;
}

.input-description {
  text-align: center;
}


.save {
  margin: 1em auto;
  padding: .8em 2em;
  text-decoration: none;
  color: #FFF;
  border-radius: 5px;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  background-color: 2px solid HSLA(225, 51%, 66%, 1);
}

.save:hover {
  margin: 1em auto;
  padding: .8em 2em;
  text-decoration: none;
  color: HSLA(225, 51%, 66%, 1);
  border-radius: 5px;
  background-color: white;
}


.back {
  font-size: 1em;
  float: left;
  text-decoration: none;
  transform: translate(0,-65%);
  padding-left: 1em;
  color: HSLA(256, 12%, 82%, 1);
  display: block;
  transform: translateY(-97%);
}

.edit-app {
  float: right;
  font-size: 1em;
  text-decoration: none;
  transform: translate(0,-65%);
  padding-right: 1em;
  color: HSLA(256, 12%, 82%, 1);
  display: block;
  transform: translateY(-97%);
}

/**************************************
Appointment Details Page
**************************************/

.appt-info {
  width: 50%;
  padding: 1em;
  border-radius: 5px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%,50%);
  color: white;
  border: 2px solid HSLA(256, 12%, 82%, 1);
}

.app-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  padding-top: 1.5em;

}

.title-header {
  font-size: 1.2em;
  padding-bottom: 1.3em;
  margin-top: .4em;
}

.date-time {
  padding-bottom: 1em;
}

.location {
  padding-bottom: 0.5em;
}

.delete-field {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 1em;
  margin-top: 2.5em;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  border-radius: 5px;
}

.delete-field:hover {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 1em;
  margin-top: 2.5em;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  border-radius: 5px;
  background-color: white;
  color: HSLA(225, 51%, 66%, 1);
}

.float-time {
  float: right;
}

.cityState {
  float: right;
}

span img {
  float: right;
}

.clear {
  clear: both;
  display: block;
}

.weather-data span:first-child {
  transform: translateY(100%);
  display: inline-block;
}

/******************************************
Appointment Edit Page
******************************************/

.save-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#save {
  margin: 0;
  padding: 1em 2em;
  text-decoration: none;
  color: HSLA(256, 12%, 82%, 1);
  border-radius: 5px;
  border: 2px solid HSLA(256, 12%, 82%, 1);
}

#save:hover {
  margin: 0;
  padding: 1em 2em;
  text-decoration: none;
  color: HSLA(225, 51%, 66%, 1);
  border-radius: 5px;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  background-color: white;
}

#delete {
  padding: 1em 1.7em;
  margin-left: 2.5em;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  border-radius: 5px;
  text-decoration: none;
  color: HSLA(256, 12%, 82%, 1);
  position: static;
  margin-top: 0;
  left: 0;
  transform: translate(0);
}

#delete:hover {
  padding: 1em 1.7em;
  margin-left: 2.5em;
  border: 2px solid HSLA(256, 12%, 82%, 1);
  border-radius: 5px;
  text-decoration: none;
  color: HSLA(225, 51%, 66%, 1);
  position: static;
  margin-top: 0;
  left: 0;
  transform: translate(0);
  background-color: white;
}
