<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Appointments</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/appointments.css">
  </head>
  <body>
    <div id="main">
    </div>
    <script id="appointment" type="text/html">
      <div class="appointments">
        <header class="nav">
          <h1 class="appointments-header">Appointments</h1>
          <a class="newapp-btn" href="#new">+</a>
        </header>
        <form class="search-container">
          <input type="text" class="apptsearch" name="appointment-search" placeholder="Search">
        </form>
        <div class="list-container">
          <ul class="appointment-list">
            <% m.apps.forEach(function (newapp) { %>
            <li>
              <div class="time">
                <%- newapp.time %>
              </div>
              <div class="app-descrip">
                <%- newapp.title %>
              </div>
              <span class="delete-btn">Remove</span>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </script>
    <script id="newappointment" type="text/html">
      <header class="nav">
        <h1 class="appointments-header">New Appointment</h1>
        <a class="newapp-btn" href="#new">+</a>
      </header>
      <div class="newappt-container">
        <form class="newappt-wrapper">
          <p class="input-description">Title</p>
          <input type="text" class="appt-title" name="title" placeholder="Title">
          <p class="input-description">Date</p>
          <input type="text" class="appt-date" name="date" placeholder="Date">
          <p class="input-description">Time</p>
          <input type="text" class="appt-time" name="time" placeholder="Time">
          <p class="input-description">Street</p>
          <input type="text" class="appt-street" name="street" placeholder="Street">
          <p class="input-description">City, St</p>
          <input type="text" class="appt-city" name="city" placeholder="City, St">
          <a class="save" href="#details">Save</a>
        </form>
      </div>
    </script>
    <script id="appointmentdetails" type="text/html">
      <div class="app-details">
        <header class="nav">
          <h1 class="appointments-header">Details</h1>
          <a href='#appointments' class="back">&larr;</a>
          <a href='#new' class="edit-app">Edit</a>
          <span class="clear"></span>
        </header>
          <span class="clear"></span>
        <div class="app-content">
          <img src="http://i.dailymail.co.uk/i/pix/2014/03/06/article-2574650-18C6F21800000578-304_306x462.jpg" alt="" />
        </div>
      </div>
    </script>

    <script src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/router.js"></script>
    <script src="js/appointments.js"></script>
    <script src="js/appointmentgen.js"></script>
    <script src="js/object-store.js"></script>
    <script src="js/newshow.js"></script>
    <script src="js/apptdetails.js"></script>
    <script src="js/appointmentsshow.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
