<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Appointments</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/appointments.css">
  </head>
  <body>
    <div id="main">
    </div>
    <script id="appointment" type="text/html">
      <div class="appointments">
        <header class="nav">
          <h1 class="appointments-header">Appointments</h1>
          <a class="newapp-btn" href="#new">+</a>
        </header>
        <form class="search-container">
          <input type="text" class="apptsearch" name="appointment-search" placeholder="Search">
        </form>
        <div class="list-container">
          <ul class="appointment-list">
            <% m.scope.forEach(function (newapp) { %>
              <a class="see-details" href="#details/<%- newapp.title %>">
                <li>
                  <div class="time">
                    <%- newapp.time %>
                  </div>
                  <div class="app-descrip">
                    <%- newapp.title %>
                  </div>
                </li>
              </a>
            <% }) %>
          </ul>
        </div>
      </div>
    </script>
    <script id="newappointment" type="text/html">
      <header class="nav">
        <h1 class="appointments-header">New Appointment</h1>
        <a class="newapp-btn" href="#new">+</a>
      </header>
      <div class="newappt-container">
        <form class="newappt-wrapper">
          <p class="input-description">Title</p>
          <input type="text" class="appt-title" name="title" placeholder="Title">
          <p class="input-description">Date</p>
          <input type="text" class="appt-date" name="date" placeholder="Date">
          <p class="input-description">Time</p>
          <input type="text" class="appt-time" name="time" placeholder="Time">
          <p class="input-description">Street</p>
          <input type="text" class="appt-street" name="street" placeholder="Street">
          <p class="input-description">City, St</p>
          <input type="text" class="appt-city" name="city" placeholder="City, St">
          <a class="save" href="#details">Save</a>
        </form>
      </div>
    </script>
    <script id="appointmentdetails" type="text/html">
      <div class="app-details">
        <header class="nav">
          <h1 class="appointments-header">Details</h1>
          <a href='#appointments' class="back">&larr;</a>
          <a href='#edit/<%- m.title %>' class="edit-app">Edit</a>
          <span class="clear"></span>
        </header>
        <span class="clear"></span>
        <div class="appt-info">
          <h1 class="title-header"><%- m.title %></h1>
          <div class="date-time">
            <span><%- m.date %></span>
            <span><%- m.time %></span>
          </div>
          <div class="location">
            <span><%- m.street %></span>
            <span><%- m.citySt %></span>
          </div>
          <div class="delete-field">
            <a class="delete-appt">Delete</a>
          </div>
        </div>

      </div>
    </script>
    <script id="edit-appointment" type="text/html">
      <header class="nav">
        <h1 class="appointments-header">Edit Appointment</h1>
        <a class="newapp-btn" href="#new">+</a>
      </header>
      <div class="newappt-container">
        <form class="newappt-wrapper">
          <p class="input-description">Title</p>
          <input type="text" class="appt-title" name="title" value="<%- m.title %>">
          <p class="input-description">Date</p>
          <input type="text" class="appt-date" name="date" value="<%- m.date %>">
          <p class="input-description">Time</p>
          <input type="text" class="appt-time" name="time" value="<%- m.time %>">
          <p class="input-description">Street</p>
          <input type="text" class="appt-street" name="street" value="<%- m.street %>">
          <p class="input-description">City, St</p>
          <input type="text" class="appt-city" name="city" value="<%- m.citySt %>">
          <a class="save" href="#details">Save</a>
          <a class="delete-field" href="#details">Delete</a>
        </form>
      </div>
    </script>

    <script src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script src="js/app.js"></script>
    <script src="js/router.js"></script>
    <script src="js/appointments.js"></script>
    <script src="js/appointmentgen.js"></script>
    <script src="js/object-store.js"></script>
    <script src="js/apptdetails.js"></script>
    <script src="js/appt-edit.js"></script>
    <script src="js/newshow.js"></script>
    <script src="js/appointmentsshow.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
